.sidebar{
    background-color: #2d3040;
    height: 100%;
    width: 15%;
    position: fixed;
    top: 0;
    left: 0;
    padding-top: 40px;
    font-size: larger;
    color: aqua;
text-align: center;
font-size:larger;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
position: fixed;
}
.s2{
    margin-left: 25%;
}
body{
    background-color: whitesmoke;
}

.bbl{
        border-radius: 100%;
        border: 5px  solid black;
}
.lnk{
    text-decoration: none;
    color: #000;
}

.sidebar a:hover{
    color: white;
        padding: 10px;
        transition: transform .8s;
        width: 130px;
        height: 50px;
        margin: 0 auto;
        font-size: x-large;
        transform: scale(1.5);

}
